li#accordion-section-cresta_blogghiamo_buy_pro h3:before {
	font-family: dashicons;
    content: "\f488";
    padding-right: 0.5em;
    float: left;
}
#customize-controls .control-section-blogghiamoProVersion .accordion-section-title:hover,
#customize-controls .control-section-blogghiamoProVersion .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-blogghiamoProVersion .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	font-size: 80%;
    padding: 0 5px;
	background: #689e5b;
    color: #fff;
    box-shadow: none;
    border: none;
}
#accordion-section-cresta_blogghiamo_buy_pro h3 {
	background-color: #000000 !important;
	color: #ffffff !important;
}