/*!
Theme Name: Marjoram
Theme URI: https://www.bloggingthemestyles.com/free-wordpress-themes/marjoram/
Author: Blogging Theme Styles
Author URI: https://www.bloggingthemestyles.com
Version: 1.0.2
Description: Marjoram is a clean modern blog theme, tailored for food based blogging, you can still use this for a wide-range of other types of concepts because it's that flexibile. Showcase your content in an effortlessly timeless style that gives you unlimited colours to suit your personal preference. Boasting popular features such as a a custom Image Widget, thumbnail related posts widget, off-canvas menu, custom header, backgrounds, and an abundance of blog & layout options, Marjoram's clean, contemporary design is guaranteed to wow and inspire your readers! Be sure to read more About Marjoram under the Appearance admin menu.
License: GPLv3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.en.html
Text Domain: marjoram
Tags: blog, news, e-commerce, grid-layout, theme-options, custom-background, custom-logo, custom-menu, featured-images, sticky-post, right-sidebar, left-sidebar, footer-widgets, custom-colors, translation-ready

Marjoram (C) 2018 www.bloggingthemestyles.com
Marjoram is distributed under the terms of the GNU GPL v3 or later.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
button,
hr,
input {
    overflow: visible
}

progress,
sub,
sup {
    vertical-align: baseline
}

input[type=checkbox],
input[type=radio],
legend {
    box-sizing: border-box;
    padding: 0
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
select {
    text-transform: none
}

input[type=button],
input[type=reset],
input[type=submit],
button {
    -webkit-appearance: button
}

input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

input[type=button]:-moz-focusring,
input[type=reset]:-moz-focusring,
input[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

textarea {
    overflow: auto
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

input[hidden],
template {
    display: none
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #fff;
    color: #656565;
	font-family: "Montserrat", Arial, sans-serif;
    font-size: 100%;
	line-height: 1.6;
	-ms-word-wrap: break-word;
	word-wrap: break-word;	
}
#page {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.20);
	padding: 0;
	position: relative;
}
.boxed1800,
.boxed1600,
.boxed1400 {
	margin: 0 auto;	
}
.boxed1800 {
	max-width: 1800px;
}
.boxed1600 {
	max-width: 1600px;
}
.boxed1400 {
	max-width: 1400px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#masthead {
    background-color: #fff;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.site-branding {
    max-width: 1140px;
    margin: 2% auto;
    padding: 0 30px;
    text-align: center;  
}

.site-title {
    font-family: "Playfair display", "Times New Roman", Georgia,serif;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1rem;
}

.site-title:after {
	border:none;
	margin: 0;
}
.site-title a,
.site-title a:visited {
	color: #000;
}
.site-description {
	color: #989898;
    font-size: 0.813rem;
    font-weight: 300; 
	letter-spacing: 1px;	
    line-height: 1;
    margin: 0;
	text-transform: uppercase;
}

#header-border {
    border-bottom: 3px double #c1c1c1;
    max-width: 1160px;
    margin: 1.438rem auto 0;
    background: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#content {
    padding: 3rem 20px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#site-footer {
    border-top: 1px solid #c1c1c1;
    text-align: center;
    font-size: 0.813rem;
    padding: 1rem 30px;
    max-width: 1150px;
    margin: 0 auto;
}
#copyright {
    margin-top: 1rem;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	color: #222;
	clear: both;
	font-family: "Playfair display", "Times New Roman", Georgia,serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 2rem;
	position: relative;
}
.page-title:after,
.widget-title:after,
.entry-title:after {
    content: "";
    width: 20%;
    height: 1px;
    display: block;
    margin: 14px 0 12px;
	border-bottom: 3px double #b7b7b7;
}
h1 {
	font-size:2rem;
}
h2 {
	font-size:1.875rem;
	margin-bottom:1.5rem
}
h3 {
	font-size:1.688rem;
	margin-bottom:1.5rem
}
h4 {
	font-size:1.438rem;
	margin-bottom:1.5rem
}
h5 {
	font-size:1.313rem;
	margin-bottom:1.438rem
}
h6 {
	font-size:1.125rem;
	margin-bottom:1.25rem
}
p {
    margin: 0 0 2rem;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
::selection {
	background-color: #ef9d87;
	color: #fff;
}

hr {
	background-color: #dedede;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 1.5rem;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5rem;
    padding:0;
}

#left-sidebar ul,
#left-sidebar ol,
#right-sidebar ul,
#right-sidebar ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
#bottom-sidebar ul {
    list-style: none;
    padding-left: 0;
}
#bottom-sidebar li {
    border-bottom: 1px solid;
    border-color: rgba(255,255,255,0.3);
    padding: 6px 0;
}
#bottom-sidebar li:last-child {
    border:none;
}
dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

dfn,
cite,
em,
i {
    font-style: italic;
}
cite,
blockquote cite {
    font-size: 0.75rem;
}
blockquote {
    border-left: 0.75rem solid #ef9d87;
    font-style: italic;
    margin: 2rem;
    padding: 0 1rem;
}
blockquote p {
    margin: 0;
}
blockquote cite {
    display: block;
    margin: 1rem 0;
	opacity: 0.6;
}

address {
    margin: 0 0 1.5em;
}

/* TABLES */
table {
	border-bottom: 1px solid #efefef;
	border-color: #ebebeb;
	margin: 1rem 0 2rem;
	text-align: left;
	width: 100%;
}
table caption {
	color: #989898;
    padding: 0 0 5px 0;
    width: auto;
    font-style: italic;
    text-align: right;
    font-size: 12px;
}
thead th {
    background-color: #dcdcdc;
	color: #222;
}
th, td {
	padding: 6px
}

th {
	font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: left;
    padding: 9px 12px;
	border: 1px solid #ebebeb;	
    border-left: none;
    border-top: none;
}
tr:nth-child(odd) {
    background: #f8f8f8;
}
tr th:first-child, 
tr td:first-child {
	border-color: #ebebeb;
    border-left-style: solid;
    border-left-width: 1px;
}
tr:first-child th, 
tr:first-child td {
	border-color: #ebebeb;
    border-top-style: solid;
    border-top-width: 1px;
}

td {
    font-size: 13px;
    padding: 9px 12px;
	border: 1px solid #ebebeb;	
    border-left: none;
    border-top: none;
}
tr th:first-child, 
tr td:first-child {
	border-color: #ebebeb;	
    border-left-style: solid;
    border-left-width: 1px;	
}

/* CODE */
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
    padding: 0 0.5rem;	
}
code {
    background-color: #eeeeee;
    color: #b74747;
}
pre {
    position: relative;
    max-width: 800px;
    padding: 30px 15px;
    background: #f7f7f7;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 14px;
    color: #656565;
    border-left: 10px solid #e4ddda;
}
pre code {
	padding: 0;
    color: #3f3b36;
    background-color: transparent;
    font-size: 1rem;
}

/* bootstrap media wrapper */
.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #ef9d87;
	text-decoration: none;
}

a:visited,
a:hover, 
a:focus, 
a:active {
	color: #d28d7b;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}
a.excerpt-readmore {
    font-size: 0.813rem;
    font-style: italic;
}

.entry-content p a {
	font-weight: 700;
}
.entry-footer .post-edit-link {
    background-color: #ef9d87;
    padding: 4px 20px;
    border-radius: 30px 5px;
    color: #fff;
    font-size: 0.813rem;
    text-transform: uppercase;
    left: 2px;
}
.entry-footer .post-edit-link:hover {
	background-color: #ef9d87;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;	
}
#site-footer a:hover {
	color: #d28d7b;
}
#custom-banner-title a,
#custom-banner-title a:visited {
    color: #0f0f0f;
}
#bottom-sidebar a, 
#bottom-sidebar a:visited {
    color: #fff;
}
#bottom-sidebar a:hover {
	opacity: 0.8;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
#page-header {
    margin-bottom: 3rem;
}
.date-block-wrapper {
    display: table;
    float: none;
    width: 100%;
}
.title-meta-wrapper {
    margin: 12px 0;
    overflow: initial;
}

.entry-header {
	margin-bottom: 0.75rem;
	position: relative;
}
.date-block {
    background-color: #ef9d87;
    border-radius: 50%;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    width: 5rem;
    height: 5rem;
    display: block;
    float: left;
    line-height: 1.4;
    margin-right: 1.125rem;
    padding: 1.375rem 0;
    text-align: center;
}

.date-block span {
    display: block;
}

.blog .entry-title:after {
    margin: 7px 0;
}
.blog12 .entry-title::after {
    margin: 7px auto;
}
.sticky .entry-header {
    margin-bottom: 0;
}
.sticky-post {
	font-size: 0.875rem;
    margin-bottom: -5px;
    font-weight: 600;
    color: #ef9d87;
}
.entry-format {
	font-weight: 600;
    text-transform: uppercase;
}
#blog-description {
	margin-bottom: 2rem;
}

.hentry { 
line-height: 1.8;
	margin: 0 0 2rem;
}
.hentry:last-child {
    margin-bottom: 0;
}
#masonry-layout {
	margin:0 -20px 1.25rem;
}
#masonry-layout .hentry,
#masonry-layout .grid-sizer {
	width:100%;
}
#masonry-layout .hentry {
    margin-bottom: 3rem;
    padding: 0 20px 0;
    text-align: left;
}


.blog13 .hentry {
    margin-bottom: 5px;
}

.updated:not(.published) {
	display: none;
}
.blog13 .entry-meta .entry-date {
	display: inline-block;
}
.post-thumbnail {
	margin-bottom: 1.875rem;
    position: relative;
}
.single .post-thumbnail {
    margin-bottom: 2.25rem;
}

/* blog12 */
.blog12 .post-thumbnail {
    display: block;
    margin-left: auto;
	margin-right: auto;
}
.blog12 .date-block-wrapper {
    float: none;
}
.blog12 .date-block {
    margin-right:0;
}
.blog12 .entry-header {
    text-align: center;
}
.blog12 .entry-content {
	margin: auto;
    text-align: center;
}


/* blog 13 - photo wall */

.blog13 .hentry {
    margin-bottom: 5px;
}
#blog-photowall .entry-title {
    font-size: 1.5rem;
    font-weight: 400;
}
.blog13 .entry-title::after {
    border: none;
    margin: 0;
}
#blog-photowall .entry-title,
#blog-photowall .caption a {
	color: #fff;
}
.blog13 #blog-photowall {
    padding: 0;
    list-style: none;
}
#blog-photowall.row {
    margin-left: -5px;
    margin-right: -5px;
}
.blog13 #blog-photowall .col-sm-12.col-md-6.col-lg-4 {
    padding-left: 5px;
    padding-right: 5px;
}

/* alternating blog posts */
.blog14 .post-thumbnail, 
.blog14 .entry-content {
    float: none;
    max-width: 100%;
    margin-bottom: 1.5rem;
}
.blog14 .entry-meta {
	margin-bottom: 1rem;
}
.blog14 .entry-content {
	margin-bottom: 0; 
	text-align: left;
}
.blog14 .hentry.odd .entry-content,
.blog14 .hentry.even .entry-content,
.blog14 .hentry.odd .post-thumbnail,
.blog14 .hentry.even .post-thumbnail {
    padding: 0;
}
.blog14 .hentry {
    background-color: #f5f5f5;
	display: table;
	margin-bottom: 2.5rem;
    padding: 1.5rem 1.875rem;
}

/* end alternating blog posts */

.wp-post-image {
    display: block;
}
.blog12 .wp-post-image {
    margin: auto;
}

.entry-title {
    font-size: 1.625rem;
    font-weight: 600;
    margin: 5px 0;
}
.single .entry-title {
    margin-top: 0;
}
.page .entry-title {
    margin-bottom: 1.5rem;
}
.blog4 .entry-title,
.blog5 .entry-title {
    font-size: 1.375rem;
}
.blog6 .entry-title,
.blog7 .entry-title,
.blog8 .entry-title,
.blog9 .entry-title,
.blog10 .entry-title,
.blog11 .entry-title,
#blog-photowall .entry-title {
    font-size: 1.25rem;
}
#blog-photowall .entry-title {
    font-weight: 400;
}
.entry-title,
.entry-title a,
.entry-title a:visited {
	color: #484848;
}
.entry-title a:hover {
	opacity: 0.8;
}
#blog-photowall .entry-title,
#blog-photowall .caption a {
	color: #fff;
}
.entry-meta {
    list-style: none;
    padding: 0;
    font-size: 0.813rem;
    margin: 6px 0 20px;
}
.entry-meta li {
	display: inline;
}
.blog4 .entry-meta,
.blog5 .entry-meta,
.blog6 .entry-meta,
.blog7 .entry-meta,
.blog8 .entry-meta,
.blog9 .entry-meta,
.blog10 .entry-meta,
.blog11 .entry-meta {
    margin-bottom: 1rem;
}
.blog14 .entry-meta {
	margin-bottom: 1rem;
}


.entry-meta, 
.entry-meta a {
    color: #989898;
}
.entry-meta li:after {
    font-family: "Font Awesome 5 Free", FontAwesome;
    font-size: 0.375rem;
	 font-weight: 900;
    position: relative;
    content: "\f111";
    margin: 0 8px;
    bottom: 2px;
	opacity: 0.8;
}
.entry-meta li:last-child:after {
	content: none;
    margin: 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
a.read-more {
    font-family: "Playfair Display",Georgia,serif;
    font-style: italic;
    font-size: 0.938rem;
	font-weight: 600;
}
.blog .entry-content {
    font-size: 0.938rem;
}

/* Single Elements */
.single .entry-footer {
    margin: 1rem 0 0;
}
.entry-tags {
	clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
}
.entry-tags li {
    display: inline;
    margin-right: 5px;
}
.entry-tags a {
    font-size: 10px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #f2f2f2;
    color: #000;
    line-height: 1;
    padding: 6px 10px 5px 10px;
    margin-right: 6px;
    margin-bottom: 8px;
    display: inline-block;
}
.entry-tags a:hover {
	 background-color: #ef9d87;
	 color: #fff;
}


/* Author Info */
#author-info {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
	display: table;
	margin-bottom: 1.75rem;
    padding: 1.75rem 0;
}
#author-avatar {
	float: left;
	margin-right: 1.5rem;
}
#author-info .avatar {
    border-radius: 50%;
	border: 5px solid #dedede;
}
#author-description {
    overflow: hidden;
}
#author-title {
    font-family: inherit;
	font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #000;
}
#author-bio {
	font-size: 0.938rem;
    margin-bottom: 0;
}
#author-link {
    font-family: "Playfair Display",Georgia,serif;
    font-style: italic;
    font-size: 0.875rem;
}

/*--------------------------------------------------------------
## Related Posts
--------------------------------------------------------------*/
#related-posts {
    list-style: none;
    padding: 0;
}
#related-posts-heading {
    font-size: 1.25rem;
}
#related-posts-title {
    font-family: inherit;
    font-size: 0.938rem;
    margin-top: 10px;
}
#related-posts-title:after {
    border: none;
    margin: 0;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
#comments {
	margin: 2rem 0 0;
    padding: 2rem 1rem;
    background-color: #f8f8f8;
}
.comments-title {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;	
}
#comment-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
#comment-list li > ol {
    margin-left: 1.75rem;
}
.comment-author .fn {
    font-size: 1.063rem;
}
.logged-in-as {
    font-size: 0.875rem;
}
span.says {
    display: none;
}
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comment .avatar {
	border: 3px solid #dedede;
	border-radius: 50%;
    float: left;
    margin: 0 1rem 0 0;
}
.comment .children .avatar {
	margin-top: 5px;
    max-width: 2rem;
}
.comment-content {
    font-size: 0.938rem;
	overflow: hidden;
}
.comment-content p:last-child {
    margin-bottom: 1rem;
}
.reply {
    font-weight: 700;
    font-size: 0.688rem;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0 0 1.25rem 4.75rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}
#reply-title {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
}
#reply-title:after {
    border: none;
    margin: 0;
}
.comment-metadata {
    font-size: 0.813rem;
    font-style: italic;
    line-height: 1.5;
    margin: 0 0 0.438rem;
}
.comment-meta a,
.comment-meta a:visited {
    color: inherit;
}
.comment-meta a:hover,
.comment-meta a:focus {
	color: inherit;
}
.comment-edit-link {
    font-weight: 700;
    margin-left: 0.5rem;
}
.comment-form-column-wrapper {
    margin: 0 -10px 10px;
}
.comment-form-column {
    width: 33.3333%;
    float: left;
    padding: 0 10px;

}
.comment-form p {
    margin-bottom: 10px;
}
.comment-notes {
    font-size: 0.75rem;
    font-style: italic;
}
.comment-awaiting-moderation {
    font-style: italic;
    background-color: #7dafd2;
    color: #fff;
    border-radius: 6px;
	position: relative;
    top: 20px;
}
.comment-form-cookies-consent label {
    font-weight: 400;
    font-size: 0.875rem;
	text-transform: none;
}

/* Author Info */
#author-info {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
	display: table;
	margin-bottom: 2.75rem;
    padding: 1.75rem 0;
}
#author-avatar {
	float: left;
	margin-right: 1.5rem;
}
#author-info .avatar {
    border-radius: 50%;
	border: 5px solid #dedede;
}
#author-description {
    overflow: hidden;
}
#author-title {
    font-family: inherit;
	font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #000;
}
#author-title::after {
	border: none;
	margin: 0;
}
#author-bio {
	font-size: 0.938rem;
    margin-bottom: 0;
}
#author-bio #author-link {
    margin-top: 5px;
    display: block;
}

/* --------------------------------------------------------------------------------
# About Page
-------------------------------------------------------------------------------- */
.about-page {
	margin: 0 auto;
}
.about-page,
.about-page .entry-content {
	text-align: center;
}
.about-page .entry-content {
	max-width: 900px;
	margin: 0 auto;
}
.about-page .page-title::after {
    margin-left: auto;
    margin-right: auto;
}

/* --------------------------------------------------------------------------------
# Error Page
-------------------------------------------------------------------------------- */
#error-box {
    width: 100%;
    margin: 3rem auto;
    text-align: center;
}
#error-text {
	font-size: 1.5rem;
    margin-bottom: 1.25rem;
}
#error-text:after {
    margin: 20px auto 12px;
}
#error-type {
    color: #ef9d87;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
}
#error-content {
    font-size: 0.938rem;
    width: 90%;
    margin: auto;
    line-height: 1.5;
}

/* --------------------------------------------------------------------------------
# Attachments Page
-------------------------------------------------------------------------------- */

#attachment-view {
    margin: auto;
    text-align: center;
}
.attachment .post-header {
    margin-bottom: 2rem;
}
.attachment .hentry {
	margin-bottom: 3rem;
    text-align: center;
}

#attachment-wrapper {
    background-color: #000;
	margin-bottom: 1.75rem;
}
#attachment-wrapper img {
    display:block;
	margin: 0 auto 3rem;
}
#attachment-description {
    margin: 0 auto;
}
.attachment .post-title::after {
    margin-left: auto;
    margin-right: auto;
}
.attachment .entry-title {
	font-weight: 700;
	margin-bottom: 0;
    text-align: center;
}

.attachment .gallery-post-caption {
    font-family: inherit;
    color: #000;
}
.attachment .gallery-post-caption p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
#image-navigation a {
    color: #fff;
}
.post-caption .more-link {
    display: none;
}
.attachment img.avatar {
    position: relative;
    left: auto;
    display: block;
    margin: 0 auto 0.5rem;
}
.attachment .comment-body,
.attachment #respond {
    margin: auto;
    max-width: 80%;
}
.prev-image, 
.next-image {
    display: inline-block;
	margin: 0 3px;
}
.attachment .form-submit {
    text-align: center;
}

/*--------------------------------------------------------------
# Search Page
--------------------------------------------------------------*/
.search #main {
	margin: auto;
	text-align: center;
}	
.search .entry-title {
    margin-bottom: 1rem;
}
.search .page-title::after, 
.search .entry-title::after {
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Navigation - Main Menu
--------------------------------------------------------------*/

#menu {
    margin: 1rem auto 0;
    display: table;
}
#main-nav-container {
    display: table;
    margin: 0;
	width:100%;
}
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
   text-transform: uppercase;
}
.nav-menu {
	text-align: center;
}
.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  text-align: left;
  text-transform: uppercase;
  z-index: 9999;
}

.nav-menu > li {
  display: inline-block;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu a {
  display: block;
  position: relative;
}

.nav-menu ul ul {
  top: 0;
  /* float the 3rd level to the right */
  left: 100%;
}

.nav-menu ul li {
  min-width: 200px;
}

.sf-arrows .sf-with-ul {
  padding-right: 30px !important;
}

.sf-arrows .sf-with-ul:after {
	color: #c7c7c7;
	content: "\f107";
	position: absolute;
	right: 1rem;
	font-family: "Font Awesome 5 Free",FontAwesome;
	font-style: normal;
	font-weight: 900;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Main Nav Styling */
#main-nav a {
    padding: 1.25rem 1rem;
    text-decoration: none;
    color: #222;
    font-size: 0.875rem;
	font-weight: 600;
	letter-spacing: 1px;
    outline: none;
}
#main-nav .sub-menu a {
    color: #fff;
    font-size: 0.813rem;
	font-weight: 400;
    padding: 8px;
    text-transform: none;
}


/* Main Nav hover and active links */
#main-nav a:hover, 
#main-nav li:hover > a,
#main-nav .current-menu-item > a,
#main-nav .current-menu-ancestor > a {
	color:#ef9d87;
}

#main-nav ul {
	background-color: #222;
    border-bottom: 4px solid #222;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.25);
	padding: 0 1rem;
}
.sub-menu ul {
	text-align: left;
}

#main-nav ul li {
  border-top: 1px solid #424242;
}

#main-nav ul li:first-child {
  border-top: 0;
}

#main-nav ul li:last-child {
	border-radius:0 0 12px 12px;
}


@media (max-width: 640px) {
  #main-nav {
    display: none;
  }
}

/* Mobile Nav Styling */
#mobile-nav-toggle {
  position: relative;
  z-index: 9999;
  margin: 1.5rem auto;
  cursor: pointer;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  padding: 0;
  width: 70px;
  height: 40px;
  background-color: #222;
  color: #fff;
  border-radius: 6px;
}

@media (max-width: 640px) {
  #mobile-nav-toggle {
    display: block;
  }
}

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 9999;
  background: rgba(0,0,0,1);
  left: -280px;
  width: 280px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #c5c5c5;
  font-size: 1.125rem;
  overflow: hidden;
  padding: 5px 25px 5px 12px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #ef9d87;
}

#mobile-nav ul li li {
  padding-left: 20px;
}

#mobile-nav ul .menu-item-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
}

#mobile-nav ul .menu-item-has-children i.fa-angle-up,
#mobile-nav ul i.fa-angle-down {
  color: #9a9a9a;
}

#mobile-nav ul .menu-item-active {
  color: #ef9d87;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

/* body.mobile-nav-active #mobile-nav-toggle {
  color: #ffffff;
  background-color: #c9b04c;
  width: 60px;
  height: 60px;
  border-radius:  50%;
} */

body.mobile-nav-active #mobile-nav-toggle {
    color: #ffffff;
    background-color: #ef9d87;
    width: 60px;
    height: 40px;
    border-radius: 6px;
    top: 10px;
    margin: auto;
    right: 0;
    display: inline;
    float: right;
}

/*--------------------------------------------------------------
# Navigation - Social Menu
--------------------------------------------------------------*/
.social-menu {
    display: table;
    height: 2rem;
    margin: 0;
    padding: 12px 30px 0;
    text-align: right;
    width: 100%;
    position: relative;
	text-align:center;
    z-index: 11;
}
#site-footer .social-navigation {
    display: table;
    height: 2rem;
    margin: 1rem auto 0;
}
.social-menu li {
    display: inline-block;
    height: 2rem;
    width: 3rem;
	margin-left: 5px;
}
.social-menu a {
    font-size: 1rem;
	line-height: 1rem;
    color: #fff;
}

.social-menu a {
    background-color: #ef9d87;
    border-radius: 50%;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    position: relative;
    font-family: "Font Awesome 5 Brands", FontAwesome;
    color: inherit;
    text-align: center;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.social-menu a:focus,
.social-menu a:hover {
	background-color: #ef9d87;
	text-decoration: none;		
	opacity: 0.8;
	cursor: pointer;
}
.social-menu a:before {
	color: #fff;
	position: absolute;
	left: 0;
	right:0;	
	content: "\f013";
}

.social-menu a[href$="/feed/"]:before {
	content: "\f09e";
}
.social-menu a[href*="deviantart.com"]:before {
	content: "\f1bd";
}
.social-menu a[href*="digg.com"]:before {
	content: "\f1a6";
}
.social-menu a[href*="dribbble.com"]:before {
	content: "\f17d";
}
.social-menu a[href*="facebook.com"]:before {
	content: "\f09a";
}
.social-menu a[href*="flickr.com"]:before {
	content: "\f16e";
}
.social-menu a[href*="plus.google.com"]:before,
.social-menu a[href*=".google.com"]:before {
	content: "\f0d5";
}
.social-menu a[href*="github.com"]:before {
	content: "\f1d3";
}
.social-menu a[href*="instagram.com"]:before {
	content: "\f16d";
}
.social-menu a[href*="linkedin.com"]:before {
	content: "\f0e1";
}
.social-menu a[href*="pinterest.com"]:before {
	content: "\f0d2";
}
.social-menu a[href*="reddit.com"]:before {
	content: "\f1a1";
}
.social-menu a[href*="stumbleupon.com"]:before {
	content: "\f1a4";
}
.social-menu a[href*="tumblr.com"]:before {
	content: "\f173";
}
.social-menu a[href*="twitter.com"]:before {
	content: "\f099";
}
.social-menu a[href*="vimeo.com"]:before {
	content: "\f194";
}
.social-menu a[href*="wordpress.com"]:before,
.social-menu a[href*="wordpress.org"]:before {
	content: "\f19a";
}
.social-menu a[href="xing.com"]:before {
	content: "f168";
}
.social-menu a[href*="youtube.com"]:before {
	content: "\f167";
}
.social-menu a[href*="vk.com"]:before {
	content: "\f189";
}
.social-menu a[href^="mailto:"]:before {
	content: "\f0e0 ";
}

/*--------------------------------------------------------------
# Footer Menu 
--------------------------------------------------------------*/
#footer-nav {
    margin-top: 1rem;
}
#footer-menu {
	font-size: 0.875rem;
	list-style: none;
	margin: 0;
	padding:0;
}

#footer-menu li {
	display: inline;	
}
#footer-menu li::after {
    bottom: 1px;
    content: "\2013";
    position: relative;
    display: inline;
    font-size: 87.5%;
    margin: 0 2px 0 6px;
    opacity: 0.5;
}

#footer-menu li:last-child::after {
	content: "";
	margin: 0
}

#footer-nav a, 
#footer-nav a:visited {
    color: inherit;
}


/*--------------------------------------------------------------
# Navigation - Pagination
--------------------------------------------------------------*/
.meta-nav {
    font-weight: 700;
    margin-bottom: 5px;
}
.nav-links {
    display: table;
		line-height: 1.2;
    width: 100%;
}
.nav-links i {
	display:none;
    font-size: 2.25rem;
	margin-bottom: 1.75rem;
    position: relative;
    top: 0;
}
.nav-previous i {
	float: left;
	margin-right: 1rem;
}
.nav-next i {
	float: right;
	margin-left: 1rem;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
.nav-previous {
    padding-right: 1rem;
}
.nav-next {
    padding-left: 1rem;
}
.single .nav-links a,
.single .nav-links a:visited {
    color: inherit;
}
.nav-links a:hover,
.nav-links a:focus {
    opacity: 0.8;
}

.nav-links .post-title {
    font-size: 0.875rem;
}


/* blog pagination */
.posts-navigation {
    padding: 12px 0;
}
.blog .nav-previous a:before,
.blog .nav-next a:after,
.archive .nav-previous a:before,
.archive .nav-next a:after {
    content: "\f0a8";
    font-family: "Font Awesome 5 Free", FontAwesome;
    font-weight: 900;
    position: relative;
    margin: 0 5px 0 0;
}
.blog .nav-next a:after,
.archive .nav-next a:after {
    content: "\f0a9";
	margin:0 0 0 5px;
}
.single .nav-previous a:before, 
.single .nav-next a:after {
    content: "";
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin: 0.5rem 2.5rem 1rem 0;
}

.alignright {
    display: inline;
    float: right;
    margin: 0.5rem 0 1rem 2.5rem;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 2rem auto;
}

.alignnone {
    clear: both;
    display: block;
    margin: 2rem 0;
}
blockquote.alignright,
blockquote.alignleft {
    max-width: 40%;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Image overlays */
.image-wrapper {
	display: inline-block;
    overflow: hidden;
    position: relative;
    cursor: default;
}
.image-wrapper img {    
	display: block;
    position: relative;
}
.image-overlay {
	background-color: rgba(0,0,0,0.3);
	background-attachment: fixed;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	padding: 1.25rem;
	height: 100%;
}
.image-overlay .caption {
	color: #fff;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.image-wrapper:hover .image-overlay {
	cursor: pointer;
    opacity: 1;
}
.image-overlay-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}
/* For small thumbnails that leaves very little caption space */
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin: 0 -15px 1.5rem;
}
.gallery-item {
    display: inline-block;
    margin: 15px 0;
    padding: 0 15px;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.gallery-icon {
    text-align: center;
}
.gallery-icon img {
    display: block;
	margin: auto;
}

.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item {
	max-width: 100%;
}

.gallery-caption {
    display: block;
    background-color: #ef9d87;
    color: #fff;
    padding: 4px 10px;
    font-size: 0.75rem;
	font-weight: 600;
    letter-spacing: 1px;
}


/*--------------------------------------------------------------
# Sidebars
--------------------------------------------------------------*/
#banner-sidebar .widget,
#breadcrumbs-sidebar .widget,
#featured-bottom-sidebar .widget,
#featured-bottom-sidebar p,
#footer-sidebar .widget,
#footer-sidebar p {
    margin-bottom: 0;
}

#content-top-sidebar,
#cta-sidebar {
    margin: 3rem 0 0;
}

/* banner sidebar */
#banner-sidebar img {
    display: block;
}
#banner-sidebar {
	margin-left: auto;
    margin-right: auto;
	position: relative;
	overflow: hidden;
}

/* intro sidebar */
#intro-sidebar {
	font-size: 90%;
    color: #606060;
    letter-spacing: 0;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    max-width: 100%;
    margin: 3rem auto 0;
	padding: 0 30px;
	text-align: center;
}

/* Custom banner with caption */
#custom-banner-wrapper {
	height: 620px;
	position: relative;
	overflow: hidden;	
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Custom banner with caption */
#custom-banner-caption {
    background-color: rgba(255,255,255,0.7);
    max-width: 80%;
    margin: auto;
    padding: 25px 15px;
}
#custom-banner-wrapper .image-overlay {
	opacity: 1;
}
#custom-banner-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: "playfair display", Georgia, serif;
}

#custom-banner-content {
	font-size: 1rem;
    max-width: 85%;
    margin: auto;
}


/* breadcrumbs sidebar */
#breadcrumbs-sidebar {
    background-color: #f1eee8;
    font-size: 0.75rem;
    font-style: italic;
    padding: 0.5rem 0;
}

/* bottom sidebar */
#bottom-sidebar {
	background-color: #ef9d87;
    color: #fff;
    line-height: 1.4;
    padding: 3rem 0 1rem;
}

/* footer sidebar */
#footer-sidebar {
    margin: 1rem auto 0;
    max-width: 90%;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-title {
	color: #0f0f0f;
	font-size: 1.25rem;
    margin-bottom: 1.125rem;
}
.widget li {
    padding: 0.313rem 0;
}
.widget {
    font-size: 0.938rem;
    margin: 0 0 2rem;
}
.widget select {
	max-width: 100%;
}
#banner-sidebar .valign-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 90; 
}

#banner-sidebar .valign-outer {
  display: table;
  width: 100%;
  height: 100%;
}

#banner-sidebar .valign-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#banner-sidebar .valign-container {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 90;
}
#banner-sidebar .image-overlay {
    background-color: rgba(255,255,255, 0);
    background-attachment: fixed;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    height: 100%;
}
#banner-sidebar .valign-container.image-overlay {
    background: rgba(0,0,0,0);
}

#custom-banner-title:after {
    margin: 0;
    border: none;
}

#intro-sidebar .widget p {
    font-size: 1.063rem; 
	margin: 0 auto;
}
#intro-sidebar .widget-title {
    margin: 0 auto 0.5rem; 
	font-size: 2rem;
}
#intro-sidebar .widget-title:after {
    margin: 14px auto 18px;
}
#bottom-sidebar .widget-title {
    color: inherit;
}
#bottom-sidebar .widget-title::after {
    border-color: inherit;
}

#content-top-sidebar .widget {
    margin-bottom: 1rem;
}
#inset-bottom .widget:last-child, 
#inset-bottom p:last-child {
    margin-bottom: 0;
}
#footer-sidebar .widget-title {
    margin-bottom: 0.5rem;
}
#footer-sidebar .widget-title:after {
	border: none;
    margin: 0;
}
#footer-sidebar .widget {
    font-size: inherit;
}
#custom-banner-content p {
    margin-bottom: 22px;
}
#custom-banner-readmore a {
    background-color: #ef9d87;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 100px 20px;
    padding: 8px 30px;
}
#custom-banner-readmore a:hover {
	background-color:#000000;
}

/* Margoram Author Widget */
.about-image {
    margin-top: 0;
}
.about-icon i {
    font-size: 1rem;
    background-color: #ef9d87;
    color: #fff;
    padding: 10px;
    width: 36px;
    height: 36px;
    line-height: 1;
    border-radius: 50%;
}
.about-icon i:hover {
    background-color: #0f0f0f;
    color: #fff;
}
.about-name {
	font-size: 1.25rem;
    margin-bottom: 1rem;
}
.about-name::after {
	border: none;
	margin: 0;
}
.about-content {
    margin-bottom: 1.25rem;
}

/* Marjoram Imagebox Widget */
#featured-sidebar {
	margin: 3rem auto 2rem;
}
#featured-sidebar p:last-child {
    margin-bottom: 0;
}
.imagebox-thumbnail,
.imagebox-intro {
    margin-bottom: 1rem;
}
.imagebox-title {
	font-size: 1.375rem;
    font-weight: 600;
	margin-bottom: 0.5rem;
}
.imagebox-title::after {
	margin-left: auto;
	margin-right: auto;
}
.imagebox-content {
    text-align: center;
}

.imagebox-readmore,
.imagebox-readmore:visited {
    display: inline-block;
    background-color: #ef9d87;
    color: #fff;
    padding: 8px 16px 7px;
    text-transform: uppercase;
    font-size: 0.688rem;
    letter-spacing: 1px;
    line-height: 1;
    border-radius: 100px 20px;
    padding: 8px 30px;
    font-weight: 600;
}
.imagebox-readmore:focus,
.imagebox-readmore:hover {
    background-color: #0f0f0f;
	color: #fff;
}


/* Marjoram Recent Posts */
.widget_marjoram-recent-posts li.recent-post {
    padding: 0;
	border:none;
}
.recent-post_text {
    text-align: center;
    background-color: #fff;
    position: relative;
}
.recent-post_text {
    width: 90%;
    margin: 0 auto;
    padding: 7px 15px;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0.875rem;
    line-height: 1;
    letter-spacing: 0.25px;
}
.recent-post_text:hover {
    background-color: rgba(255, 255, 255,1);
}
.recent-post_title {
    font-family: inherit;
	font-size: 0.813rem;
    margin: 0;
    line-height: 1;
}
.recent-post_title a {
    color: #4e4e4e;
}
.recent-post_title::after {
	margin: 0;
	border:none;
}
.recent-post_date {
    font-size: 0.813rem;
}

/* Widget Tags */
.widget_tag_cloud a {
    font-size: 10px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #f2f2f2;
    color: #000;
    line-height: 1;
    padding: 10px 12px 6px 12px;
    margin-right: 6px;
    margin-bottom: 8px;
    display: inline-block;
}
.widget_tag_cloud a:hover {
	 background-color: #ef9d87;
	 color: #fff;
}

#bottom-sidebar .widget_tag_cloud a {
    background-color: #d2917f;
    color: #fff;
}

/* Text widget */
.widget_text {
	word-wrap: break-word;
}
.widget_text ul {
	list-style: disc;
	margin: 0 0 1.5em 1.5em;
}
.widget_text ol {
	list-style: decimal;
}
.widget_text ul li,
.widget_text ol li {
	border: none;
}
.widget_text ul li:last-child,
.widget_text ol li:last-child {
	padding-bottom: 0;
}
.widget_text ul li ul {
	margin: 0 0 0 1.5em;
}
.widget_text ul li li {
	padding-left: 0;
	padding-right: 0;
}
.widget_text ol li {
	list-style-position: inside;
}
.widget_text ol li + li {
	margin-top: -1px;
}

/* Menu Widget */
#left-sidebar .widget_nav_menu, 
#right-sidebar .widget_nav_menu {
    font-size: 1rem;
}
#left-sidebar .widget_nav_menu .sub-menu,
#right-sidebar .widget_nav_menu .sub-menu {
    margin-right: 4%;
    font-size: 0.938rem;
}
#left-sidebar .widget_nav_menu .sub-menu {
	margin-right: 0;
    margin-left: 4%;
}
#left-sidebar .widget_nav_menu a, 
#right-sidebar .widget_nav_menu a {
    font-weight: 600;
    color: inherit;
}
.widget_nav_menu ul {
    font-weight: 300;
}
.widget_nav_menu li {
    padding: 2px 0;
}


/* RSS Widget */
.widget_rss .widget-title .rsswidget:first-child {
	float: right;
}
.widget_rss .widget-title .rsswidget:first-child:hover {
	background-color: transparent;
}
.widget_rss .widget-title .rsswidget:first-child img {
	display: block;
}
.widget_rss ul li {
	padding: 2.125em 0;
}
.widget_rss ul li:first-child {
	border-top: none;
	padding-top: 0;
}
.widget_rss li .rsswidget {
	font-size: 22px;
	font-size: 1.375rem;
	font-weight: 300;
	line-height: 1.4;
}
.widget_rss .rss-date,
.widget_rss li cite {
	color: #767676;
	display: block;
	font-size: 10px;
	font-size: 0.625rem;
	font-style: normal;
	font-weight: 800;
	letter-spacing: 0.18em;
	line-height: 1.5;
	text-transform: uppercase;
}
.widget_rss .rss-date {
	margin: 0.5em 0 1.5em;
	padding: 0;
}
.widget_rss .rssSummary {
	margin-bottom: 0.5em;
}
.widget select {
    max-width: 100%;
}

/* subscribe box */
.subscribe-box {
    background: #f8f8f8;
    padding: 25px;
    overflow: hidden
}
.subscribe-box h4 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 3px;
}
.subscribe-box p {
    color: #999;
    font-size: 0.875rem
}

.subscribe-box input {
    border: none;
    padding: 12px 16px;
}

.widget .subscribe-box {
    padding: 20px
}

.widget .subscribe-form {
    float: none;
    width: 100%;
    text-align: center
}
.widget .subscribe-box input {
	text-align: center;
    width: 100%;
    margin-bottom: 12px
}
.widget .subscribe-box input[type=submit] {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0
}
.widget .subscribe-box p {
    margin-bottom: 20px;
    font-size: 13px
}
.widget .subscribe-box h4:after {
	border: none;
    margin: 0;
}

/* search widget */
.search-form {
    position: relative;
}
.search-field {
	padding: 8px 65px 8px 15px;
}
.search-submit {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 1px;
}
.widget_search .widget-title {
    display: none;
}
/* search class */
.widget_search.search {
    background-color: #0f0f0f;
    padding: 1rem;
}
.widget.search .search-field {
    width: 100%;
	border-radius: 0;
}
.widget.search button.search-submit {
    position: relative;
    width: 100%;
    border-radius: 0;
   background-color: #7dafd2;
    margin: 10px 0;
}
.widget.search .widget-title {
    display: block;
    color: #fff;
    margin-bottom: 10px;
	text-align: center;
}

/* Recent Comments */
.recentcomments {
    font-size: 0.813rem;
    font-style: italic;
}
.recentcomments span a {
    font-style: normal;
}

/* WP Widget Gallery */
.widget_media_gallery .widget-title {
    margin-bottom: 1rem;
}
.widget_media_gallery .gallery-item {
    margin: 0;
	padding: 0;
	padding: 0 8px 0 0;
}
.widget_media_gallery .gallery-item img {
    display: block;
}
.widget_media_gallery .gallery-caption,
.widget .gallery .gallery-caption {
    display: none;
}

.widget_media_gallery .gallery {
    margin: auto;
}
.gallery-columns-5 .gallery-caption,
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
.widget .gallery-item {
    margin-bottom: 8px;
}
.widget .gallery .gallery-caption {
    display: none;
}
/* calendar widget */
#wp-calendar a {
    color: #000
}

#wp-calendar {
    width: 100%;
}

#wp-calendar caption {
    text-align: right;
    color: #333;
    font-size: 12px;
    padding-top: 0px;
    margin-bottom: 15px;
}

#wp-calendar thead {
    font-size: 10px;
    margin-bottom: 10px;
}

#wp-calendar thead th {
    padding: 10px;
}

#wp-calendar tbody {
    color: #aaa;
}

#wp-calendar tbody td {
    background-color: #f8f8f8;
    border: 1px solid #fff;
    text-align: center;
    padding: 8px;
}

#wp-calendar tbody td:hover {
    background-color: #fff;
}

#wp-calendar tbody .pad {
    background-color: #f8f8f8;
}

#wp-calendar tfoot #next {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
}

#wp-calendar tfoot #prev {
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 10px;
}

#wp-calendar thead th {
    background-color: #ededed;
    text-align: center;
    border: 1px solid #fff;
    font-weight: normal;
}

#wp-calendar caption {
    color: #000
}




/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* placeholder text color */
::-webkit-input-placeholder { opacity: 0.8; font-size: 0.688rem; font-style: italic; text-transform: uppercase; }
:-moz-placeholder { opacity: 0.8; font-size: 0.688rem;  font-style: italic; text-transform: uppercase; }
::-moz-placeholder { opacity: 0.8; font-size: 0.688rem;  font-style: italic; text-transform: uppercase; }
:-ms-input-placeholder { opacity: 0.8; font-size: 0.688rem;  font-style: italic; text-transform: uppercase; }


form p {
    margin-bottom: 10px;
}
label {
    font-size: 0.938rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}

input {
	line-height: normal;
}
.button,
.image-navigation a,
.image-navigation a:visited,
button,
button:visited,
input[type=button],
input[type=button]:visited,
input[type=reset],
input[type=reset]:visited,
input[type=submit],
input[type=submit]:visited {
    background-color: #ef9d87;
    border: 0;
    color: #fff;
	cursor: pointer;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 1;
    padding: 8px 20px;
    text-transform: uppercase;
}

#bottom-sidebar button {
    background-color: #0f0f0f;
}
#bottom-sidebar button:hover {
    background-color: #ef9d87;
}

.button:hover,
.button:focus,
.image-navigation a:hover,
.image-navigation a:focus,
button:hover,
button:focus,
input[type=button]:hover,
input[type=button]:focus,
input[type=reset]:hover,
input[type=reset]:focus,
input[type=submit]:hover,
input[type=submit]:focus {
	background-color: #0f0f0f;
}

.button:focus,
.image-navigation a:focus
button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
	outline: thin dotted;
	outline-offset: -4px;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=week],
input[type=month],
input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=tel],
input[type=number],
textarea {
	background-color: #f7f7f7;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #d1d1d1;
	color: #686868;
	font-weight: 400;
	margin-bottom: 0.5rem;	
	padding: 0.625em 1.25rem;
	width: 100%;
}

input[type=date]:focus,
input[type=time]:focus,
input[type=datetime-local]:focus,
input[type=week]:focus,
input[type=month]:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=number]:focus,
textarea:focus {
	background-color: #fff;
	border-color: #d1d1d1;
	color: #1a1a1a;
	outline: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

input[type=checkbox], 
input[type=radio] {
    float: left;
    position: relative;
    top: 3px;
    margin: 0 5px 0 0;
}
.post-password-form {
	margin-bottom: 1.75em;
}

.post-password-form label {
	color: #686868;
	display: block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 1.75em;
	text-transform: uppercase;
}

.post-password-form input[type=password] {
	margin-top: 0.4375em;
}

.post-password-form > :last-child {
	margin-bottom: 0;
}

.search-form {
	position: relative;
}

input[type=search].search-field {
	padding: 0.625rem 60px 0.625rem 20px;
	width: -webkit-calc(100% - 52px);
	width: calc(100% - 52px);
}
#left-sidebar input[type=search].search-field {
    padding: 0.625rem 20px 0.625rem 60px;
}

.search-submit {
	bottom: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	height: 41px;
	width: 52px;
}
#left-sidebar .search-submit {
    left: 0;
}


/*--------------------------------------------------------------
## Transitions
--------------------------------------------------------------*/
.image-wrapper img {    
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
#banner-sidebar .image-overlay,
.image-overlay {
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.scrolltop {
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;	
}
.entry-tags a {
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}
.button,
.entry-footer .post-edit-link,
button,
input[type=submit],
input[type=reset],
.social-menu a,
.recent-post_text,
.about-icon i,
.imagebox-readmore,
#custom-banner-readmore a {
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}	

input[type=text], 
input[type=email], 
input[type=password], 
input[type=search], 
input[type=tel], 
select, 
textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

/*--------------------------------------------------------------
# Bootstrap 4 Grid and Layout
--------------------------------------------------------------*/
/*!
 * Bootstrap v4.1.1 (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
 .container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%
}

@-ms-viewport {
    width: device-width
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar
}

*,
::after,
::before {
    box-sizing: inherit
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1200px
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.order-1 {
    -ms-flex-order: 1;
    order: 1
}

.order-2 {
    -ms-flex-order: 2;
    order: 2
}

.order-3 {
    -ms-flex-order: 3;
    order: 3
}

.order-4 {
    -ms-flex-order: 4;
    order: 4
}

.order-5 {
    -ms-flex-order: 5;
    order: 5
}

.order-6 {
    -ms-flex-order: 6;
    order: 6
}

.order-7 {
    -ms-flex-order: 7;
    order: 7
}

.order-8 {
    -ms-flex-order: 8;
    order: 8
}

.order-9 {
    -ms-flex-order: 9;
    order: 9
}

.order-10 {
    -ms-flex-order: 10;
    order: 10
}

.order-11 {
    -ms-flex-order: 11;
    order: 11
}

.order-12 {
    -ms-flex-order: 12;
    order: 12
}

@media (min-width:576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .order-sm-1 {
        -ms-flex-order: 1;
        order: 1
    }
    .order-sm-2 {
        -ms-flex-order: 2;
        order: 2
    }
    .order-sm-3 {
        -ms-flex-order: 3;
        order: 3
    }
    .order-sm-4 {
        -ms-flex-order: 4;
        order: 4
    }
    .order-sm-5 {
        -ms-flex-order: 5;
        order: 5
    }
    .order-sm-6 {
        -ms-flex-order: 6;
        order: 6
    }
    .order-sm-7 {
        -ms-flex-order: 7;
        order: 7
    }
    .order-sm-8 {
        -ms-flex-order: 8;
        order: 8
    }
    .order-sm-9 {
        -ms-flex-order: 9;
        order: 9
    }
    .order-sm-10 {
        -ms-flex-order: 10;
        order: 10
    }
    .order-sm-11 {
        -ms-flex-order: 11;
        order: 11
    }
    .order-sm-12 {
        -ms-flex-order: 12;
        order: 12
    }
}

@media (min-width:768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .order-md-1 {
        -ms-flex-order: 1;
        order: 1
    }
    .order-md-2 {
        -ms-flex-order: 2;
        order: 2
    }
    .order-md-3 {
        -ms-flex-order: 3;
        order: 3
    }
    .order-md-4 {
        -ms-flex-order: 4;
        order: 4
    }
    .order-md-5 {
        -ms-flex-order: 5;
        order: 5
    }
    .order-md-6 {
        -ms-flex-order: 6;
        order: 6
    }
    .order-md-7 {
        -ms-flex-order: 7;
        order: 7
    }
    .order-md-8 {
        -ms-flex-order: 8;
        order: 8
    }
    .order-md-9 {
        -ms-flex-order: 9;
        order: 9
    }
    .order-md-10 {
        -ms-flex-order: 10;
        order: 10
    }
    .order-md-11 {
        -ms-flex-order: 11;
        order: 11
    }
    .order-md-12 {
        -ms-flex-order: 12;
        order: 12
    }
}

@media (min-width:992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .order-lg-1 {
        -ms-flex-order: 1;
        order: 1
    }
    .order-lg-2 {
        -ms-flex-order: 2;
        order: 2
    }
    .order-lg-3 {
        -ms-flex-order: 3;
        order: 3
    }
    .order-lg-4 {
        -ms-flex-order: 4;
        order: 4
    }
    .order-lg-5 {
        -ms-flex-order: 5;
        order: 5
    }
    .order-lg-6 {
        -ms-flex-order: 6;
        order: 6
    }
    .order-lg-7 {
        -ms-flex-order: 7;
        order: 7
    }
    .order-lg-8 {
        -ms-flex-order: 8;
        order: 8
    }
    .order-lg-9 {
        -ms-flex-order: 9;
        order: 9
    }
    .order-lg-10 {
        -ms-flex-order: 10;
        order: 10
    }
    .order-lg-11 {
        -ms-flex-order: 11;
        order: 11
    }
    .order-lg-12 {
        -ms-flex-order: 12;
        order: 12
    }
}

@media (min-width:1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .col-xl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .order-xl-1 {
        -ms-flex-order: 1;
        order: 1
    }
    .order-xl-2 {
        -ms-flex-order: 2;
        order: 2
    }
    .order-xl-3 {
        -ms-flex-order: 3;
        order: 3
    }
    .order-xl-4 {
        -ms-flex-order: 4;
        order: 4
    }
    .order-xl-5 {
        -ms-flex-order: 5;
        order: 5
    }
    .order-xl-6 {
        -ms-flex-order: 6;
        order: 6
    }
    .order-xl-7 {
        -ms-flex-order: 7;
        order: 7
    }
    .order-xl-8 {
        -ms-flex-order: 8;
        order: 8
    }
    .order-xl-9 {
        -ms-flex-order: 9;
        order: 9
    }
    .order-xl-10 {
        -ms-flex-order: 10;
        order: 10
    }
    .order-xl-11 {
        -ms-flex-order: 11;
        order: 11
    }
    .order-xl-12 {
        -ms-flex-order: 12;
        order: 12
    }
}

/* vertical-align elements */


.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

/* boxes layout for equal height columns */

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

/* Extra small devices (portrait phones, 480px and up) */
@media (min-width: 480px) {
    html,
    body {
        font-size: 94%;
    }
	.site-title {
		font-size: 2.5rem;
	}	
	.slider-title {
		font-size: 2.5rem;
		line-height: 2.5rem;
	}	
	#error-box {
		max-width: 95%;
	}
	#error-type {
		font-size: 7rem;
	}
	#error-text {
		font-size: 1.75rem;
	}	
	#error-content {
		font-size: 1.125rem;
		max-width: 80%;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html,
    body {
        font-size: 95%;
    }
	.site-title {
		font-size: 2.5rem;
	}	
	
	.slider-title {
	  font-size: 2.75rem;
	  line-height: 2.75rem;
	}
	.slider-content {
		font-size: 0.938rem;
	}	
	.post-slider .prev-arrow,
	.post-slider .next-arrow {
	  display: none;
	  position: absolute;
	  top: 50%;
	  z-index: 1001;
	  padding: 0 1rem;
	  margin-top: -1.313rem;
	  font-size: 3rem;
	  text-align: center;
	  cursor: pointer;
	}	
	#intro-sidebar {
		max-width: 95%;
	}	
	#attachment-description {
		max-width: 90%;
	}
	.date-block-wrapper {
		display: inline-block;
		float: left;
		width: auto;
	}
	.title-meta-wrapper {
		margin: 0;
		overflow: hidden;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html,
    body {
        font-size: 97%;
    }
	.site-title {
		font-size: 2.5rem;
	}	
	.site-description {
		letter-spacing: 2px;	
	}	
 	.slick-arrow  {		
 		opacity: 0;		
 	}		
 	.slick-slider:hover > .slick-arrow  {		
 		opacity: 1;		
 	}	
	.slider-content {
		font-size: 1rem;
	}		
	.slider-info {
	  padding: 2.25rem 3.75rem;
	}	
	#intro-sidebar {
		font-size: 96%;
		max-width: 80%;
	}
	#custom-banner-caption {
		margin: auto;
		padding: 30px;
		display: block;
	}
	#custom-banner-title {
		font-size: 2rem;
	}	
	#custom-banner-content {
		font-size: 1.063rem;
	}
	.blog9 #masonry-layout .hentry,
	.blog9 #masonry-layout .grid-sizer	{
		width: 50%;
	}	
	.gallery-columns-2 .gallery-item {
		max-width: 50%;
	}
	.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
	}
	.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}
	.gallery-columns-5 .gallery-item {
		max-width: 20%;
	}
	.gallery-columns-6 .gallery-item {
		max-width: 16.66%;
	}
	.gallery-columns-7 .gallery-item {
		max-width: 14.28%;
	}
	.gallery-columns-8 .gallery-item {
		max-width: 12.5%;
	}
	.gallery-columns-9 .gallery-item {
		max-width: 11.11%;
	}	
	.gallery-caption {
		display: block;
	}
	#error-box {
		max-width: 80%;
	}
	#error-type {
		font-size: 10rem;
	}
	#error-text {
		font-size: 2rem;
	}		
	#error-content {
		font-size: 1.25rem;
		max-width: 70%;
	}
	#footer-sidebar {
		max-width: 90%;
	}	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html,
    body {
        font-size: 100%;
    }
	.site-title {
		font-size: 3rem;
		letter-spacing: 1px;
	}	
	#featured-slider .prev-arrow {
	  left: 5%;
	}

	#featured-slider .next-arrow {
	  right: 5%;
	}	
	#featured-sidebar .widget {
		margin-bottom: 0;
	}			
	.slider-info {
	  padding: 2.25rem 3.75rem;
	}		
	.slider-content {
		font-size: 1.063rem;
	}	
	#custom-banner-caption {
		margin: auto;
		padding: 30px;
		display: block;
	}
	#custom-banner-title {
		font-size: 2rem;
	}	
	#custom-banner-content {
		display:block;
		max-width: 85%;
	}
	#custom-banner-readmore a {
		display: inline-block;
	}	
	.d-lg-none {
		display: none !important;
	}	
	.blog .entry-content {
		text-align: left;
	}
	.blog12 .entry-content {
		text-align: center;
	}	
	.blog9 #masonry-layout .hentry,
	.blog9 #masonry-layout .grid-sizer	{
		width: 33.3333%;
	}	
	.blog10 #masonry-layout .hentry,
	.blog10 #masonry-layout .grid-sizer,
	.blog11 #masonry-layout .hentry,
	.blog11 #masonry-layout .grid-sizer	{
		width: 50%;
	}		
	.blog12 .entry-content {
		max-width: 80%;
	}	
	/* Alternating blog style */
	.blog14 .post-thumbnail {
		float: left; 
		max-width: 50%;
		margin-bottom: 0;
	}
	.blog14 .entry-content {
		max-width: 50%;
		float: left;
	}
	.blog14 .odd .post-thumbnail,
	.blog14 .odd .entry-content {
		float: left; 
	}
	.blog14 .even .post-thumbnail,
	.blog14 .even .entry-content {
		float: right;
	}
	.blog14 .hentry.odd .post-thumbnail,
	.blog14 .hentry.even .entry-content {
		padding-right: 1.875rem;
	}
	.blog14 .hentry.odd .entry-content,
	.blog14 .hentry.even .post-thumbnail {
		padding-left: 1.875rem;
	}
	/* end alternating blog styles */
	
	#error-box {
		max-width: 60%;
	}
	#error-type {
		font-size: 10rem;
	}
	#error-text {
		font-size: 1.5rem;
	}		
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.d-xl-none {
		display: none !important;
	}	
	.site-title {
		font-size: 3.5rem;
	}	
	
	#custom-banner-caption {
		max-width: 50%;
		margin: auto;
		padding: 30px;
		display: block;
	}
	#custom-banner-title {
		font-size: 2.5rem;
	}	
	.slider-content {
		font-size: inherit;
	}		
	#intro-sidebar {
		font-size: 96%;
		max-width: 75%;
	}
	#footer-sidebar {
		max-width: 65%;
	}
	.blog12 .entry-content {
		max-width: 70%;
	}
	#attachment-description {
		max-width: 60%;
	}		
}


/* Extra large devices (large desktops, 1920px and up) */
@media (min-width: 1920px) {
	.site-title {
		font-size: 3.75rem;
	}	
	#intro-sidebar {
		font-size: 100%;
		max-width: 50%;
	}
	.blog12 .entry-content {
		max-width: 65%;
	}		
}

