/*
Theme Name: Blogghiamo
Theme URI: https://crestaproject.com/downloads/blogghiamo/
Author: Rizzo Andrea - CrestaProject.com
Author URI: https://crestaproject.com
Description: Simple and Minimal WordPress Theme ideal for a blog, with two columns, unlimited colors and theme options created by CrestaProject.com. Compatible with Gutenberg. Live demo https://crestaproject.com/demo/blogghiamo/
Version: 1.7.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: blogghiamo
Domain Path: /languages
Tags: two-columns, right-sidebar, custom-background, custom-menu, custom-colors, sticky-post, featured-images, theme-options, translation-ready, accessibility-ready, blog, news
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	box-sizing: border-box; /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #F0F0F0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 15px;
	line-height: 2;
}

.smallPart, aside .tagcloud {
	font-size: 12px;
	line-height: 1.5;
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p.site-title {
	clear: both;
	text-rendering: optimizeLegibility;
	line-height: 1.3;
	font-weight: 700;
}

h1, h2.entry-title {font-size: 33px;}
h2 {font-size: 25px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 13px;}
h6 {font-size: 10px;}
.hentry p.has-small-font-size {
    font-size: 13px;
    line-height: 1.9;
}
.hentry p.has-regular-font-size {
    font-size: 15px;
}
.hentry p.has-large-font-size {
    font-size: 18px;
	line-height: 1.7;
}
.hentry p.has-larger-font-size {
    font-size: 20px;
	line-height: 1.6;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	display: block;
	padding: 1.5em 1.5em 1.5em 3.5em;
	margin: 0 0 1.5em;
	position: relative;
	border-left: 5px solid #0a7db0;
	border-right: 2px solid #0a7db0;
}
blockquote::before {
	content: "\201C";
	font-size: 60px;
	line-height: 1;
	font-weight: bold;
	position: absolute;
	left: 10px;
	top: 10px;
}
blockquote cite {
	font-size: 13px;
    font-style: normal;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

code {
	display: block;
	background: rgba(0,0,0,.05);
	padding: 0.5em;
	text-align: left;
	border-radius: 2px;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: bold;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	outline: none;
	border: 1px solid transparent;
	border-radius: 2px;
	background: #0a7db0;
	color: #ffffff;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: none; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	text-transform: uppercase;
	padding: 4px 8px;
	-o-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-webkit-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border: 1px solid #0a7db0;
	color: #0a7db0;
	background: transparent;
	-o-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-webkit-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: none; /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid rgba(0,0,0,.05);
	background: rgba(0,0,0,.05);
	border-radius: 2px;
	outline: none;
	-o-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-webkit-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	border: 1px solid #0a7db0;
	-o-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-webkit-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 4px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 4px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	color: #404040;
	text-decoration: none;
	-o-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-webkit-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
}

a:hover,
a:focus,
a:active {
	color: #0a7db0;
	-o-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-webkit-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background: #0a7db0;
	margin-bottom: 1em;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation li:last-child {
	border-right: 0;
}

.main-navigation li a:not(:last-child):after {
	content: "\f0d7";
	font-family: FontAwesome;
	margin: 0 0 0 5px;
	font-size: 10px;
}
.main-navigation ul ul li a:not(:last-child):after {
	content: "\f0da";
	margin: 0 0 0 5px;
	float: right;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	padding: 2em;
	color: #ffffff;
	-o-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.main-navigation a:hover, .main-navigation a:focus, .main-navigation a:active {
	color: #ffffff;
}

.main-navigation ul ul {
	background: #0a7db0;
	float: left;
	position: absolute;
	top: 5.5em;
	left: auto;
	z-index: 99999;
	visibility:hidden;
	opacity:0;
	transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0;
	visibility:hidden;
	opacity:0;
	transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}

.main-navigation ul ul a {
	width: 200px;
	padding: 1.5em;
}

.main-navigation ul li:hover > ul, .main-navigation ul li:focus > ul, .main-navigation ul li:active > ul, .main-navigation ul li.focus > ul {
	visibility:visible;
	opacity:1;
	transition-delay:0s;
}

.main-navigation ul ul li:hover > ul, .main-navigation ul ul li:focus > ul, .main-navigation ul ul li:active > ul, .main-navigation ul ul li.focus > ul  {
	visibility:visible;
	opacity:1;
	transition-delay:0s;
}

.main-navigation ul li:hover > a, 
.main-navigation ul li.focus > a, 
.main-navigation li.current-menu-item > a, 
.main-navigation li.current-menu-parent > a, 
.main-navigation li.current-page-ancestor > a,
.main-navigation .current_page_item > a, 
.main-navigation .current_page_parent > a, 
.main-navigation ul > li:hover .indicator, 
.main-navigation li.current-menu-parent .indicator, 
.main-navigation li.current-menu-item .indicator {
	background: rgba(0,0,0,.03);
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 1025px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}
	
	.menu-toggle {
		background: #ffffff;
		color: #404040;
	}
	
	.menu-toggle:focus, .menu-toggle:hover {
		background: #0a7db0;
		color: #ffffff;
	}

	.main-navigation ul {
		display: none;
	}
	
	.menu-toggle, .main-navigation.toggled .nav-menu {
		display: block;
		width: 100%;
		border-radius: 2px;
		text-align: left;
		float: left;
		padding: 1.5em;
	}
	
	.main-navigation.toggled .nav-menu {
		padding: 1.5em;
	}
	
	.main-navigation.toggled .nav-menu ul {
		display: none;
		left: auto !important;
		right: auto !important;
		position: relative;
		top: 0;
		border-bottom: 0px;
		padding-left: 5%;
		width: 100%;
		opacity: 1;
		visibility: visible;
	}
	
	.main-navigation.toggled ul ul a {
		font-size: 100%;
		width: 100%;
	}
	
	.menu-toggle:hover {
		color: #ffffff;
	}
	
	.menu-toggle i {
		float:right;
	}
	
	.main-navigation li {
		width: 100%;
	}
	
	.main-navigation a {
		border-bottom: 1px solid rgba(0,0,0,.05);
		padding: 1.5em;
	}
	.main-navigation li a:not(:last-child):after, .main-navigation ul ul li a:not(:last-child):after {
		content: "" !important;
		font-family: FontAwesome;
		margin: 0;
	}
	.main-navigation ul li .indicator {
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		font-family: 'FontAwesome';
		font-size: 12px;
		width: 55px;
		line-height: 55px;
		text-align: center;
		border-left: 1px solid rgba(0,0,0,.05);
		color: #ffffff;
	}
	.main-navigation ul li .indicator:before {
		content: "\f067";
	}
	.main-navigation ul li .yesOpen.indicator:before {
		content: "\f068";
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
}

.post-navigation .meta-nav {
	border: 1px solid transparent;
	display: inline-block;
	background: #0a7db0;
	color: #ffffff;
	border-radius: 2px;
	padding: 1.5em 3em;
	line-height: 1;
	font-weight: 300;
	-o-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-webkit-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
}

.post-navigation .meta-nav:hover {
	border: 1px solid #0a7db0;
	color: #0a7db0;
	background: transparent;
	-o-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-webkit-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	
}

.navigation.pagination .nav-links {
	text-align: center;
}

.paging-navigation .nav-links a {
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	-o-transition: border .3s ease-in-out;
	-moz-transition: border .3s ease-in-out;
	-webkit-transition: border .3s ease-in-out;
	transition: border .3s ease-in-out;
	display: inline-block;
}

.navigation.pagination .nav-links a,
.navigation.pagination .nav-links span {
	text-align: center;
	-o-transition: border .3s ease-in-out;
	-moz-transition: border .3s ease-in-out;
	-webkit-transition: border .3s ease-in-out;
	transition: border .3s ease-in-out;
	display: inline-block;
	padding: 0.4em 1.1em;
    margin: 0 0.2em 1em;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.nav-links:before,
.nav-links:after,
.widget_archive li:before, 
.widget_archive li:after, 
.widget_categories li:before,
.widget_categories li:after,
.widget.widget_search:before,
.widget.widget_search:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.nav-links:after,
.widget_archive li:after, 
.widget_categories li:after,
.widget.widget_search:after {
	clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1em;
	padding: 3em 1.5em;
	position: relative;
}

.widget-title {
	background: #0a7db0;
	margin-bottom: 1.5em;
	color: #ffffff;
	border-radius: 2px;
	position: relative;
	margin-right: -3em;
}

.widget-title:before {
	content: "";
	position: absolute;
	border-top: 1.5em solid #0a7db0;
	border-right: 1.5em solid transparent;
	right: 0;
	bottom: -1.4em;
}

.widget-title:after {
	content: "";
	position: absolute;
	border-top: 1.5em solid rgba(0,0,0,.1);
	border-right: 1.5em solid transparent;
	right: 0;
}

.widget-title h2 {
	font-weight: 300;
	padding: 8px 12px;
	font-size: 18px;
}

.widget-title h2, .entry-title, .page-title {
	letter-spacing: -1px;
	text-align: center;
}

.page-title span {
	font-weight: 300;
}

aside ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

aside ul li {
	border-bottom: 1px solid rgba(0,0,0,.05);
	padding: 0.5em 0;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

.widget_archive li, .widget_categories li {
	text-align: right;
}
.widget_archive li a, .widget_categories li a {
	float: left;
}
.widget.widget_categories li:before {
	font-family: FontAwesome;
	content: "\f114";
	padding-right: 0.5em;
	float: left;
}
.widget.widget_archive li:before {
	font-family: FontAwesome;
	content: "\f0da";
	padding-right: 0.5em;
	float: left;
}

/* Calendar Widget */
#wp-calendar {
	margin: 0px;
}
#wp-calendar > caption {
	margin-bottom: 10px;
}
#wp-calendar th {
	text-align: center;
	background: rgba(0,0,0,.05);
	padding: 5px 0;
}
#wp-calendar tfoot td {
	border: none;
	padding-top: 5px;
}
#wp-calendar tfoot td#next {
	text-align: right;
}
#wp-calendar tbody td {
	text-align: center;
	border: 1px solid rgba(0,0,0,.05);
	padding: 5px 0;
}
#wp-calendar tbody td a {
	text-decoration: underline;
}
#wp-calendar tbody td#today {
	border: 1px solid #0a7db0;
}
/* Menu Widget */
aside ul.menu ul.sub-menu {
	display: none;
	padding-left: 2em;
}
aside ul.menu li {
	position: relative;
	border-bottom-width: 0;
    border-bottom-style: none;
    border-bottom-color: transparent;
    padding: 0;
}
aside ul.menu li a {
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,.05);
    padding: 0.5em 0;
	display: block;
	height: 46px;
}
aside ul.menu .indicatorBar {
	position: absolute;
    right: 0;
    top: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
	cursor: pointer;
    font-family: 'FontAwesome';
	font-size: 16px;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: rgba(0,0,0,.05);
}
aside ul.menu .indicatorBar:before {
	content: "\f107";
}

aside ul.menu .indicatorBar.yesOpenBar:before {
	content: "\f106";
}
/* Search widget */
.widget.widget_search input[type="search"] {
	width: 68%;
    display: inline-block;
    -webkit-appearance: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 4px 15px;
    line-height: 1;
	float: left;
	height: 40px;
}
.widget.widget_search input[type="submit"] {
	width: 32%;
    display: inline-block;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
	float: right;
	height: 40px;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
.spaceRight {
	padding-right: 5px;
}
.spaceLeft {
	padding-left: 5px;
}
#page {
	max-width: 1140px;
	margin: 2em auto;
}
.site-title {
	font-size: 60px;
	text-shadow: 4px 3px 0px #ffffff, 9px 8px 0px rgba(0, 0, 0, 0.1);
	letter-spacing: -2px;
	margin: 0;
}

.site-description {
	font-weight: 300;
	font-size: 20px;
	margin: 0.5em 0 0;
	letter-spacing: -1px;
}
.socialLine {
	margin-top: 0.5em;
}
.socialLine a {
	padding: 0.5em;
}
.top-search.active {color: #0a7db0;}
.topSearchForm {
	display: none;
	margin-top: 0.5em;
}
.topSearchForm input[type="search"] {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	text-align: center;
}
.topSearchForm input[type="search"]:focus {
	border: 0;
}
.theTop {
	text-align: center;
}
.theTop, footer.site-footer, .hentry, .widget, .comments-area, #toTop, .paging-navigation .nav-links a, .page-header, #disqus_thread, .navigation.pagination .nav-links > a {
	background: #ffffff;
	-webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
	border-radius: 2px;
}
.navigation.pagination .nav-links span.current {
	background: #404040;
	color: #ffffff;
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}
.theTop, .comments-area, .site-main .post-navigation {
	padding: 3em 5em;
	margin-bottom: 1em;
}
#primary.content-area {
	float:left;
	width: 70%;
	padding-right: 1em;
}
body.no-sidebar #primary.content-area {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
#secondary.widget-area {
	float:left;
	width: 30%;
}
footer.site-footer {
	padding: 3em 5em;
}
.entry-featuredImg {
	margin-top: 1.5em;
	margin-left: -3em;
	margin-right: -3em;
	margin-bottom: -7em;
	position: relative;
}
.entry-featuredImg img {
	display: block;
	width: 100%;
}
span.overlay-img {
	background:url(./images/goto.png) center center no-repeat black;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 10;	
	opacity: 0;
	-o-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
span.overlay-img:hover {
	opacity: 0.5;
}
.edit-link a, .tagcloud a {
	background: #0a7db0;
	padding: 4px 8px;
	color: #ffffff;
	margin: 1px 0;
	font-weight: 300;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid transparent;
	-o-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-webkit-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
}
.edit-link a:hover, .tagcloud a:hover {
	border: 1px solid #0a7db0;
	color: #0a7db0;
	background: transparent;
	-o-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-webkit-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;
}
.edit-link {
	display: block;
}
.entry-meta {
	margin-top: 0.5em;
	text-align: center;
}
.entry-meta > span {
	margin-right: 10px;
}

.site-info {
	text-align: center;
	text-transform: none;
}
.site-info a {
	font-weight: 700;
}

#toTop:hover {
    text-decoration: none;
}
#toTop {
    display: none;
    position: fixed;
    bottom: 2em;
    right: 1.5em;
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
	-o-transition: border .3s ease-in-out;
	-moz-transition: border .3s ease-in-out;
	-webkit-transition: border .3s ease-in-out;
	transition: border .3s ease-in-out;
}
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.content-area .sticky {
	display: block;
	position: relative;
}
.content-area .sticky:before {
	font-family: FontAwesome;
	content: "\f08d";
	position: absolute;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	right: 50%;
	left: 50%;
	margin-left: -1.5rem;
	top: 0.5em;
	text-align: center;
	font-size: 25px;
}

.hentry, .page-header, #disqus_thread {
	margin: 0 0 1em;
	padding: 3em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-header, .entry-footer {
	padding: 0 2em;
}

.crestaPostStripeInner {
	width: 5rem;
	height: 5rem;
	text-align: center;
	line-height: 5rem;
	position: absolute;
	top: -2.5rem;
	margin-left: -2.5rem;
	left: 50%;
	right: 50%;
	background: #ffffff;
	border-radius: 50%;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	background: #ffffff;
	position: relative;
	padding: 2em 2em 0;
	border-radius: 2px;
	z-index: 99;
	word-wrap: break-word;
}

.page-content {padding: 2em;}

.entry-content {
	border-bottom: 2px solid rgba(0,0,0,.05);
	margin: 1.5em 0;
}

.page-content a,
.entry-content a,
.entry-summary a {
	text-decoration: underline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
	text-align: right;
}

.page-links a {
	text-decoration: none;
}

.page-links span {
	padding: 0 0.5em;
	border: 2px solid rgba(0,0,0,.05);
	border-radius: 2px;
}

.page-links a span {
	color: #0a7db0;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
.comments-title {
	margin-bottom: 2em;
	text-align: center;
}
#comments ol {
	list-style-type: none;
	margin: 0;
	margin-bottom: 1em;
}
#comments ol .comment-respond {
	padding: 0;
	margin: 3em 0;
}
#comments ol article{
	margin: 0 0 3em;
	position: relative;
}
#comments ol ol {
	padding-left: 5%;
	background: transparent;
}
#comments ol ol article {
	padding-left: 5%;
	border-left: 2px solid rgba(0,0,0,.05);
}
#comments article footer img {
	float: left;
	margin-right: 15px;
	border-radius: 2px;
}
#comments article .comment-content {
	clear: both;
	padding-top: 1em;
}
#comments .reply {
	background: #0a7db0;
	border-radius: 2px;
	padding: 3px 8px;
	display: inline-block;
	position: absolute;
	font-weight: 300;
	line-height: 1;
	top: 0;
	right: 0;
}
#comments .comment-meta {
	font-weight: 300;
}
#comments .reply a {
	color: #ffffff;
}
.comment-reply-title small {
	float: right;
}
.comment-awaiting-moderation {
	color: red;
	margin: 0;
}


/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll .navigation.pagination,
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	padding: 0.8075em 0;
	background: rgba(0,0,0,.05);
	font-size: 75%;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
	font-size: 75%;
}

@media all and (max-width: 1200px) {
	#page {
		max-width: 985px;
	}
}

@media all and (max-width: 1100px) {
	.widget-title, .theShareSpace {
		margin-right: 0;
		margin-left: 0;
	}
	.theShareSpace:before, .theShareSpace:after, .widget-title:before, .widget-title:after {
		content: none;
	}
}

@media all and (max-width: 985px) {
	body {
		margin: 0 1.5em;
	}
	#page {
		max-width: 750px;
		margin: 1.5em auto;
	}
	#primary.content-area, #secondary.widget-area {
		float: none;
		width: 100%;
		padding: 0;
	}
	#secondary {
		-webkit-column-count: 2;
		-webkit-column-gap: 15px;
		-moz-column-count: 2;
		-moz-column-gap: 15px;
		column-count: 2;
		column-gap: 15px;
	}
	#secondary aside {
		-webkit-column-break-inside: avoid;
		-moz-column-break-inside: avoid;
		column-break-inside: avoid;
	}
	.site-title {
		font-size: 50px;
	}
}
@media all and (min-width: 768px) {
  .alignfull {
    margin-left: -5em;
    margin-right: -5em;
    width: auto;
    max-width: 1000%;
  }

  .alignwide {
    margin-left: -2em;
    margin-right: -2em;
    width: auto;
    max-width: 1000%;
  }

  .alignwide img,
  .alignfull img {
    display: block;
    margin: 0 auto;
  }
}
@media all and (max-width: 767px) {
	body {
		margin: 0 0.5em;
	}
	#page {
		max-width: 445px;
		margin: 0.5em auto;
	}
	h1, h2.entry-title {font-size: 25px;}
	h2 {font-size: 23px;}
	h3 {font-size: 18px;}
	h4 {font-size: 15px;}
	h5 {font-size: 13px;}
	h6 {font-size: 10px;}
	#secondary {
		-webkit-column-count: auto;
		-webkit-column-gap: initial;
		-moz-column-count: auto;
		-moz-column-gap: initial;
		column-count: auto;
		column-gap: initial;
	}
	#secondary aside {
		-webkit-column-break-inside: initial;
		-moz-column-break-inside: initial;
		column-break-inside: initial;
	}
	.theTop, .comments-area, .site-main .post-navigation {
		padding: 1.5em 0.5em;
	}
	.hentry, .page-header, footer.site-footer, .widget, #disqus_thread {
		padding: 1.5em 0.5em;
	}
	.theTop, .comments-area, .site-main .post-navigation {
		padding: 1.5em 0.5em;
	}
	.entry-featuredImg {
		margin-left: -0.5em;
		margin-right: -0.5em;
		margin-bottom: -5em;
	}
	.page-content, .entry-content, .entry-summary {
		padding: 1em 1em 0;
	}
	.site-title {
		font-size: 40px;
	}
	.socialLine a {
		padding: 0.3em;
	}
	.entry-meta > span {
		display: block;
	}
	.theShareSpace h4 {
		display: none;
	}
	.theShareButton a {
		padding: 0 0.5em;
	}
	.post-navigation .nav-previous, .post-navigation .nav-next {
		float: none;
		text-align: center;
		padding: 0.5em;
	}
	.post-navigation .meta-nav {
		padding: 1em 2em;
	}
	.content-area .sticky:before {
		top: 0;
	}
}
@media all and (max-width: 479px) {
	#page {
		max-width: 400px;
	}
	.form-allowed-tags {
		display: none;
	}
}
@media all and (max-width: 420px) {
	#page {
		max-width: 360px;
	}
}

@media all and (max-width: 365px) {
	#page {
		max-width: 300px;
	}
}

/*--------------------------------------------------------------
Print Style
--------------------------------------------------------------*/
@media print {
	.theTop, footer.site-footer, .hentry, .widget, .comments-area, #toTop, .paging-navigation .nav-links a, .page-header {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
